.back-body{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.image-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80vh;
    background: #f9f9f9;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    transition: .5s;
    justify-content: center;
    align-items: center;
}

.image-popup.hide{
    display: none;
    opacity: 0;
}

.login-title{
    color: cadetblue;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 20px;
}

.download-btn{
    text-transform: capitalize;
    padding: 10px 20px;
    background: #192f2e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.log-col{
    display: flex;
}
.left-log{
    width: 65%;
    /* background-color: aqua; */
    columns: 1;
    margin: 15px 0px 15px 15px;
    border:  10px solid #204543;
    border-radius: 10px;
}
.left-log input{
    background: transparent;
    padding: 10px 14px;
    width: 300px;
    font-size: 18PX;
    margin-top: 20px;
    border-radius: 20px;
    /* color: white; */
    border-color: #204543;
}
.left-log input:focus{
    border: 3px solid;
    border-color: #146293;
}
.left-log .left-log-content{
    margin-top: 120px;
}

.login-btn{
    text-transform: capitalize;
    padding: 7px 20px;
    margin-top: 25px;
    background: #192f2e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}
.login-btn :link{
    color: #fff;
}


.right-log{
    width: 35%;
    background-color: #204543;
    height: 70vh;
    color: #fff;
    margin: 15px;
    border-radius: 20px;
}
.right-log center{
    margin-top: 100px;
}
.right-log-content{
    /* position: absolute; */
    margin-left: 100px;
    margin-top: 170px;
}
.right-log-content .wel{
    font-size: 16px;
}
.right-log-content .right-title{
    font-size: 30px;
    letter-spacing: 5px;
    border-bottom: 2px solid red;
}
.right-log-content .right-desc{
    font-size: 10px;
    margin-top: 18px;
}


.left-log .reg-left-log-content{
    margin-top: 60px;
}


